@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


:root {
  --soft-blue: hsla(231, 69%, 60%);
  --menu-back: hsl(229, 31%, 21%, 0.92);
  --soft-red: hsl(0, 94%, 66%);
  --gray-blue: hsla(229, 8%, 60%);
  --light-gray-blue: hsla(229, 8%, 60%, 0.1);
  --dark-blue: hsl(229, 31%, 21%);
  --link-border: 0.5px solid rgba(255, 255, 255, 0.4);
  --tab-border: 0.5px solid rgba(0, 0, 0, 0.4);
  --shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  --downloads-shadow: 0px 6px 5px 4px rgba(0, 0, 0, 0.05);
  --transition: 0.6s linear;
  --fast-transition: 0.3s linear;
  --menu-transition: 1s ease-in-out;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Rubik', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

p {
  font-weight: 400;
  color: var(--gray-blue);
  line-height: 1.6;
  font-size: 15px;

}

button {
  transition: var(--fast-transition);
}

ul li {
  list-style-type: none;
  transition: var(--fast-transition);
}

ul li:hover {
  color: var(--soft-red);
  transition: var(--fast-transition);
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--fast-transition);
}

a:link,
a:hover,
a:active,
a:visited {
  color: inherit;
}

ul li a:hover {
  cursor: pointer;
  color: var(--soft-red);
  transition: var(--fast-transition);
}

svg {
  filter: brightness(0) invert(1);
  transition: var(--fast-transition);
}

svg:hover {
  filter: none;
  color: #FA5757;
  transition: var(--fast-transition);
}


header .main-head {
  z-index: 4;
  margin-left: 2em;
  transition: var(--transition);
}


.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background: var(--menu-back);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: var(--menu-transition);

}

.show-menu {
  opacity: 1;
  z-index: 5;
  transition: var(--menu-transition);
}

.no-scroll {
  overflow: hidden;
}

.head {
  width: 85%;
  margin: 3em 2.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav .nav-footer {
  margin-top: auto;
  padding: 3em 1em;
  width: 45%;
  display: flex;
  justify-content: space-around;

}

nav ul {
  width: 84%;
}

nav ul li,
.feature-tabs ul li {
  border-top: var(--link-border);
  text-align: center;
  padding: 3vh 3px;
  color: #fff;
  font-weight: 500;
}

nav ul :nth-child(3) {
  border-bottom: var(--link-border);

}

nav ul li:last-of-type {
  border: 2px solid #fff;
  margin-top: 2em;
  padding: 0.6em 4px;
  border-radius: 5px;
}

nav ul li:last-child:hover {
  border-color: var(--soft-red);
}

nav ul li a {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.5px;
}

/* *********** Header ************* */

header {
  height: 100vh;
  max-height: 710px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-section {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.hero {
  width: 90vw;
  max-width: 450px;
}


.hero-div,
.tab-img-div {
  position: relative;
  overflow: visible;

}

.image-shadow,
.tab-image-shadow {
  position: absolute;
  bottom: 0;
  right: -5vw;
  width: 80%;
  height: 80%;
  z-index: -1;
  background: var(--soft-blue);
  border-bottom-left-radius: 100px;
}

.hero-text,
.tab-text {
  height: 53%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.3em 7vw 2em 7vw;

}


.hero-btns {
  display: flex;
}

.hero-btns button,
.tab-btn button,
.faq-btn button {
  padding: 1em;
  border-radius: 8px;
  border: none;
}

.hero-btns :first-child,
.tab-btn button,
.faq-btn button {
  margin-right: 0.5em;
  color: white;
  background: var(--soft-blue);
}

.hero-btns :last-child {
  background: var(--light-gray-blue);
  box-shadow: var(--shadow);
}

.hero-btns button:hover,
.download .download-btn button:hover,
.faq-btn button:hover,
.tab-btn button:hover {
  border: 1.5px solid var(--soft-blue);
  background: transparent;
  color: var(--soft-blue);
  font-weight: 500;
  transition: var(--fast-transition);
}

/* ************ Features ************ */
.features {
  height: 150vh;
  max-height: 1070px;
  min-height: 1060px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 6em 0;
  padding-bottom: 3em;

}

.features .feature-text {
  height: 20vh;
  min-height: 140px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1px 7vw;
}

.feature-tabs ul {
  border-bottom: var(--tab-border);
  margin: 2em 5px;
  margin-bottom: 3em;
}

.feature-tabs ul li {
  width: 85vw;
  max-width: 350px;
  color: var(--gray-blue);
  font-weight: 400;
  border-top: var(--tab-border);
  padding: 1.2em 2px;
  transition: var(--fast-transition);
}

.tab-container {
  height: 60%;
  width: 100vw;
  overflow: hidden;
  margin-top: auto;

}


.feature-tab-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300%;
  width: 100%;
  position: relative;
  transform: translateY(0%);
  transition: var(--transition);
}


.feature-tab-contents .tab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 33.333%;
  /*height: 560px;*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.tab-2 {
  transform: translateY(100%)
}

.tab-3 {
  transform: translateY(200%)
}

.tab-img-div {
  width: 95%;
  height: 50%;

}

.tab .tab-img {
  width: 90%;
  max-width: 350px;
  margin-left: 8vw;
}

.tab .tab-image-shadow {
  left: -5vw;
  max-width: 350px;
  right: unset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 200px;
}


.tab-2 .tab-image-shadow,
.tab-3 .tab-image-shadow {
  height: 94%;
  top: 3em;
}

.tab-text {
  height: 43%;
  margin-top: 1.8em;
}

.tab-btn button,
faq-btn button {
  margin-right: 0;
  padding: 1em 6vw;
}

hr {
  margin: auto;
  background: var(--soft-red);
  height: 2px;
  border: none;
  width: 0;
  transition: var(--transition);
}

.active-tab {
  width: 40%;
  transition: var(--transition);
}

.black {
  color: black !important;
  transition: var(--transition);
}


/* *********** Downloads ************ */

.download-section * {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-text,
.download-text,
.faq-text {
  max-width: 400px;
  min-width: 200px;
}


.download-text {
  margin: 1.5em;
  height: 150px;
  padding: 4px 2em;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.downloads .download {
  height: 350px;
  max-width: 280px;
  min-width: 220px;
  padding-top: 2em;
  padding-bottom: 0.5em;
  border-radius: 12px;
  margin: 1.5em;
  box-shadow: var(--downloads-shadow);
  justify-content: space-around;

}

.download .info {
  height: 50px;
  justify-content: space-between;
}

.info p {
  font-size: 14px;
}

.download .download-btn button {
  background: var(--soft-blue);
  border: none;
  color: #fff;
  padding: 1em 3em;
  border-radius: 8px;
}


/* *********** Questions ************ */


.faq-section * {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.faq-section {
  margin: 5em 3px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.faq-text {
  height: 170px;
  padding: 5px 10vw;
  max-width: calc(400px + 10vw);
  justify-content: space-around;

}

.questions {
  margin: 2em 2px;
  margin-top: 3em;
  min-width: 300px;
  max-width: calc(400px + 10vw);
  height: auto;
}

.questions ul li {
  width: 90%;
  padding: 0.4em 1px;
  border-bottom: var(--tab-border);

}

.questions ul li:first-of-type {
  border-top: var(--tab-border);
}

.questions ul li div:first-of-type {
  flex-direction: row;
  width: 90%;
  margin: 1em 3px;
  font-size: 12px;
  font-weight: 500;
}

.question span:first-of-type {
  margin-left: auto;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  height: 12px;
}

.arrow-up,
.show-up,
.arrow-down,
.hide-down {
  transition: var(--transition);
}

.arrow-up {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: left;
  transform: translateY(-2em) rotateX(180deg);

}

.show-up {
  transform: translateY(0) rotateX(180deg);

}

.hide-down {
  transform: translateY(2em);
}


.answer {
  text-align: left;
  width: 86%;
  font-size: 15px;
  color: var(--gray-blue);
  line-height: 1.8;
  max-height: 0;
  transform: rotateX(90deg);
  height: auto;
  overflow: hidden;
  transition: var(--transition);

}

.show-answer {
  max-height: 300px;
  margin: 1.4em 2px;
  transform: rotate(0);
  transition: var(--transition);

}

.faq-btn button {
  margin-top: 1em;
  padding: 1em 2.4em;
}


/* *********** Contact ************ */

.contact * {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact {
  height: 50vh;
  width: 100vw;
  min-height: 350px;
  max-height: 400px;
  padding: 3em 2em;
  background: var(--soft-blue);
  color: #fff;
}

.contact div,
.contact form {
  height: 50%;
  max-width: calc(300px + 5vw);
  max-height: 140px;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.contact-text :first-child {
  letter-spacing: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}


form .input-div {
  width: 100%;
  background: transparent;
  border-radius: 7px;
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 4px;
}

input,
form button {
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 1.2em 1.5em;
  outline: none;

}

input {
  text-align: left !important;
  background: #fff;

}

input:hover {
  cursor: auto;
}

input[type="email"]::placeholder {
  text-align: left;
  color: var(--gray-blue);
}

.input-div p {
  font-size: 9px;
  font-style: italic;
  color: #fff;
  padding: 10px;
  line-height: 0.3;
  align-self: flex-start;
  font-weight: 500;
  opacity: 0;
}

.error {
  position: absolute;
  top: 0.8em;
  right: 1em;
  opacity: 0;
}

.invalid input~p,
.invalid .error {
  opacity: 1;
}

.invalid input {
  padding: 1em 1.5em;
}

.invalid div {
  background: var(--soft-red) !important;
  margin-bottom: 1em;

}

form button {
  background: var(--soft-red);
  color: #fff;
  font-weight: 500;
}

form button:hover {
  border: 1.5px solid var(--soft-red);
  color: var(--soft-red);
  background: #fff;
  font-weight: 500;
  transition: var(--fast-transition);
}


/* *********** Footer ************ */

footer,
.footer,
.footer ul,
.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer,
.footer {
  height: 50vh;
  width: 100vw;
  min-height: 320px;
  max-height: 400px;
  color: #fff;
  align-self: center;
  justify-content: space-around;
  padding: 1.5em 2em;
  background: var(--dark-blue);
}

.footer {
  height: 100%;
  width: 100%;
  max-width: 400px;
}


.footer ul {
  height: 40%;
  width: 70%;
  text-transform: uppercase;
  justify-content: space-between;

}

.footer-icons {
  flex-direction: row;
  width: 30%;
  min-width: 65px;
  justify-content: space-between;
}


.attribution {
  font-size: 10px;
  text-align: center;
  background: bisque;
}

.attribution a {
  color: hsl(228, 45%, 44%);

}


/* *********** Fixed Nav ************ */

.scroll-down .main-head {
  transform: translate3d(0, -300%, 0);
  position: fixed;

}

.scroll-up .main-head {
  transform: none;
}

.scroll-up .main-head {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 1em 2em;
  position: fixed;
}

.scroll-up .nav,
.scroll-down .nav {
  position: fixed;
}

@media (max-width: 320px) {

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 13px;
  }

  ul li>* {
    font-size: 14px;
  }

  .feature-tabs ul li {
    padding: 0.9em 3px;
  }

  .tab-text h1 {
    font-size: 26px;
  }

  .feature-tab-contents {
    height: 310%;
  }

  .download-text {
    margin: 0.8em;
    padding: 4px 1em;
  }

  .download-text h1 {
    font-size: 22px;
  }

  .faq-text h1 {
    font-size: 24px;
  }

  .question div~* {
    font-size: 12px;
  }

  .questions ul li div:first-of-type {
    margin: 0.7em 2px;
    width: 95%;
    font-size: 12px;
  }

  .contact-text h2 {
    font-size: 22px;
  }

  form input,
  form button {
    padding: 1em;
  }

  .attribution {
    font-size: 8px;
  }

}


@media (max-width: 288px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }

  ul li>* {
    font-size: 12px;
  }

  .hero-btns button {
    padding: 1em 0.8em;
    font-size: 12px;
  }

  .download-text {
    margin: 0.8em;
    padding: 4px 0.6em;
  }

  .download-text h1 {
    font-size: 22px;
  }

  .tab-text h1 {
    font-size: 22px;
  }

  .faq-text h1 {
    font-size: 22px;
  }

  .contact-text :first-child {
    font-size: 10px;

  }

  .contact-text h2 {
    font-size: 18px;
  }


}


@media (min-width: 768px) {
  body {
    overflow-x: hidden;

  }

  .nav {
    top: 3vw;
    right: 0;
    left: unset;
    height: 3em;
    width: 70vw;
    opacity: 1;
    z-index: 4;
    background: transparent;
    flex-direction: row;
    justify-content: flex-end;

  }

  .nav ul {
    flex-direction: row;
    align-items: flex-end;
    width: auto;
    margin-right: 10vw;

  }

  .nav ul li {
    padding: 0.4em;
    color: #000;
    border: none;
    margin: 0;
    width: 8vw;
    margin-left: 7px;
    display: inline-block;
  }

  .nav ul li a {
    font-size: 1vw;
    letter-spacing: 1px;

  }

  nav ul li:last-of-type {
    border: .2vw solid var(--soft-red);
    background: var(--soft-red);
    color: #fff;
    width: 9vw;
    margin-top: 0;
    padding: .35vw 2vw;
    padding-bottom: .7vw;
    border-radius: 4px;
    align-items: center;

  }

  nav ul li:last-of-type:hover {
    background: transparent;
    color: var(--soft-red);

  }

  .image-shadow,
  .tab-image-shadow {
    right: 0;

  }

  .main-head {
    width: 30%;
    margin: 4.5vw 10vw;
    padding-top: .5vw;
    padding-left: 5vw;
    margin-right: auto;
  }

  .main-head .logo,
  .footer .logo {
    width: 13vw;

  }

  .nav .head,
  .nav .nav-footer,
  .main-head .menu-icon {
    display: none;

  }

  header {
    min-height: 100px;
    max-height: 540px;
    height: 55vw;
    justify-content: flex-start;

  }

  .hero-section {
    flex-direction: row-reverse;
    margin-bottom: 0;
  }

  .hero {
    width: 46vw;
    margin-right: 5vw;
    margin-bottom: 1vw;

  }

  .hero-text {
    padding: 1px 3vw;
    padding-left: 10vw;
    text-align: left;
    align-items: flex-start;
    height: 65%;
  }

  h1 {
    font-size: 3.3vw;

  }

  p {
    font-size: 1.7vw;

  }

  .hero-btns button {
    font-size: 1.4vw;
    padding: 1.4vw;
    margin-right: 2vw;

  }

  .features {
    margin-top: -1em;

  }

  .features .feature-text {
    max-height: 50vw;
    max-width: 50vw;
    height: 18vw;
    padding: 1vw 1.5vw;
  }

  .feature-tabs ul {
    margin: 2vw;
    width: 60vw;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    position: relative;

  }

  .feature-tabs ul li {
    display: inline-block;
    width: 33%;
    max-width: 3500px;
    padding: 1.5em 2px;
    border: none;
    font-size: 1.5vw;

  }

  .feature-tabs ul hr {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .feature-tabs ul hr:nth-of-type(2) {
    transform: translateX(100%);

  }

  .feature-tabs ul hr:nth-of-type(3) {
    transform: translateX(200%);

  }

  .active-tab {
    width: 33.33%;

  }

  .features {
    height: 85vw;
    max-width: 100vw;
    min-height: 20vw;
    width: 100vw;
    padding: 1em 0;

  }

  .tab-container {
    height: 60%;
    width: 100%;
    overflow: hidden;

  }

  .tab .tab-image-shadow {
    max-width: 40vw;

  }


  .feature-tab-contents {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 300%;
    transform: translateX(0%);

  }

  .feature-tab-contents .tab {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 33.33%;
    height: 90%;
    padding-top: 1em;

  }

  .tab-2 {
    transform: translateX(100%);

  }

  .tab-3 {
    transform: translateX(200%);

  }

  .tab-img-div {
    width: 90%;
    height: 100%;
  }

  .tab .tab-img {
    width: 100%;
    width: 40vw;
    max-width: 700px;
    margin-left: 8vw;

  }

  .tab-2 .tab-img,
  .tab-3 .tab-img {
    width: 35vw;
    margin-left: 17vw;

  }

  .tab .tab-image-shadow {
    left: 0;
    top: 8vw;
    right: unset;
    height: 60%;
    width: 40vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 40vw;
    border-top-right-radius: 40vw;

  }


  .tab-2 .tab-image-shadow,
  .tab-3 .tab-image-shadow {
    height: 67%;
    top: 6vw;

  }

  .tab-text {
    height: 55%;
    width: 80%;
    margin-top: 1.8em;
    align-items: flex-start;
    text-align: left;
    padding-left: 5vw;

  }

  .tab-text h1 {
    font-size: 2.6vw;

  }

  .tab-text p {
    font-size: 1.6vw;
    line-height: 1.4;

  }

  .tab-btn button,
  faq-btn button {
    margin-right: 0;
    border-radius: 4px;
    padding: 1.2vw 2.2vw;

  }

  .feature-text,
  .download-text,
  .faq-text {
    max-width: 58vw;
    min-width: 300px;

  }

  .faq-text {
    max-width: 65vw;
    height: 140px;

  }

  .downloads {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 40px);
    max-width: 800px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    height: 250px;
  }

  .downloads .download {
    overflow: hidden;
    min-width: 150px;
    height: 300px;

  }

  .downloads div:nth-of-type(1) {
    grid-row: 1;
    grid-column: 1;
  }

  .downloads div:nth-of-type(2) {
    grid-row: 2;
    grid-column: 2;

  }

  .downloads div:nth-of-type(3) {
    grid-row: 3;
    grid-column: 3;

  }

  .download img {
    width: 5em;

  }

  .info h3 {
    font-size: 2.1vw;

  }

  .download .info {
    height: 45px;
    margin-top: 1em;

  }

  .info p {
    font-size: 1.4vw;

  }

  .dots {
    width: 100% !important;

  }

  .questions {
    margin-top: 1em;

  }

  .download .download-btn button {
    padding: 1em 3vw;
    border-radius: 4px;
    font-size: 1.3vw;

  }

  .contact {
    height: 250px;
    min-height: 200px;
    margin-bottom: 0;
    padding: 2em;

  }

  .contact div,
  .contact form {
    max-width: calc(300px + 5vw);
    max-height: 100px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

  }

  .contact div {
    height: 50%;
  }

  .contact .contact-text h2 {
    font-size: 26px;

  }

  .contact form {
    height: 20%;
    max-height: 30px;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 7fr .3fr 3fr;
    grid-template-rows: 1fr;
    align-items: start;
  }

  form .input-div {
    grid-column: 1;
    background: transparent;
    border-radius: 5px;
    padding: 2px;
    padding-top: 17px;
    padding-bottom: 6px;

  }

  input,
  form button {
    grid-column: 3;
    border: none;
    border-radius: 4px;
    padding: .9em 1.2em;
    outline: none;

  }

  input {
    margin-top: -1.1em;

  }

  .contact .contact-text h4 {
    font-size: 1vw;

  }

  .footer,
  footer {
    max-height: 100px;
    max-width: 100vw;
    min-width: 20px;
    min-height: 20px;
    height: 50px;
    width: 100vw;
    padding: 1em 4em;

  }

  .footer {
    max-width: 1000px;
    align-self: center;

  }

  footer,
  .footer,
  .footer ul,
  .footer .footer-icons {
    flex-direction: row;
    font-size: .9vw;
    justify-content: space-around;

  }

  .footer .logo {
    width: 12vw;

  }

  .footer ul {
    width: 25%;
    margin-left: 5vw;
    justify-content: space-between;

  }

  .footer .footer-icons {
    margin-left: auto;
    width: 15vw;
  }

  .scroll-down nav {
    transform: translate3d(0, -300%, 0);
    position: fixed;
  }

  .scroll-up nav {
    transform: none;

  }

  .scroll-up nav {
    background: transparent;
    box-shadow: none;
    width: 100%;
    top: 0;
    left: unset;
    right: 0;
    margin: 0;
    padding: 1em;
    margin-right: -5em;
    position: fixed;

  }


}


@media (min-width: 980px) {

  .download .download-btn button {
    padding: 1em 2vw;
    font-size: 1vw;

  }

  .download img {
    width: 5em;

  }

  .info h3 {
    font-size: 1.7vw;

  }

  .download .info {
    height: 45px;
    margin-top: 1em;

  }

  .info p {
    font-size: 1.2vw;

  }

  form .input-div {
    padding: .4vw;
    padding-top: 1.7vw;
    padding-bottom: 4.7vw;

  }


}

@media(min-width: 1200px) {
  .hero-section {
    margin-top: 3em;
  }

  .hero {

    max-width: unset;
  }

  .hero-text {
    height: 72%;
  }

  h1 {
    font-size: 3.4vw;

  }

  p {
    font-size: 1.3vw;

  }

  .hero-btns button {
    font-size: 1.3vw;
    padding: 1.2vw;
    margin-right: 3vw;

  }

  .features {
    margin-top: 7em;
  }

  .features .feature-text {
    height: 15vw;
    padding: 1vw 6vw;
  }

  .feature-tabs ul {
    margin: 1.6vw;
    width: 50vw;

  }

  .feature-tabs ul li {
    font-size: 1.3vw;

  }

  .tab-container {
    margin-top: 1em;
  }

  .tab-text {
    height: 50%;
    width: 70%;
    margin-top: 2.2em;
    padding-right: 10vw;
  }

  .download-section {
    margin-top: -10em;
  }

  .faq-text {
    max-width: 70vw;
    height: 140px;
    margin-bottom: 1.5em;
  }

  .feature-text h1,
  .tab-text h1,
  .faq-text h1,
  .download-text h1 {
    font-size: 2.4vw;
  }

  .tab-text p,
  .faq-text p,
  .download-text p {
    font-size: 1.4vw;
  }

  .faq-text p,
  .download-text p {
    padding: 3px 5vw;
  }

  .downloads {
    margin-top: 12em;
  }

  .downloads .download {
    min-width: 20vw;
    height: 26.5vw;
    margin-right: .7em;
  }

  .download img {
    width: 8vw;

  }

  .info h3 {
    font-size: 1.5vw;

  }

  .download .info {
    height: 45px;
    margin-top: 1em;

  }

  .info p {
    font-size: 1.1vw;

  }

  .dots {
    width: 100% !important;
  }

  .questions {
    margin-top: 1em;

  }

  .download .download-btn button {
    padding: 1em 2vw;
    border-radius: 4px;
    font-size: 1.1vw;

  }


  .faq-section {
    margin-top: 10em;
  }

  .questions {
    max-width: 50vw;
  }

  .faq-section ul li div:first-of-type {
    font-size: 1.4vw;
    font-weight: 400;
    margin-right: 0;
    margin-left: -2em;
  }

  .contact {
    height: 25vw;
    margin-top: 5em;
    padding: 3em;
  }

  .contact div,
  .contact form {
    max-width: calc(300px + 5vw);
    max-height: 13vw;

  }

  .contact div {
    height: 50%;
  }

  .contact .contact-text h2 {
    font-size: 2.4vw;

  }

  .contact .contact-text h4 {
    font-size: .85vw;
  }

  .contact form {
    max-height: 300px;

  }

  form .input-div {
    padding: .3vw;
    padding-top: 1.5vw;
    padding-bottom: 4.3vw;
  }

  form button {
    margin-top: .35vw;
  }

  footer,
  .footer {
    height: 80px;
    width: 100vw;
    padding: 1em 2vw;

  }

  .footer {
    max-width: 88vw;
  }

  footer,
  .footer,
  .footer ul,
  .footer .footer-icons {
    font-size: .9vw;

  }

  .footer .logo {
    width: 11.4vw;

  }

  .attribution {
    background: bisque;
    font-size: 14px;
  }


}
